*
!.gitignore
!/Server
/Server/*
!/Server/Server.iml
!/Server/src
/Server/src/*
!/Server/src/*.java

!/Client
/Client/*
!/Client/src
!/Client/src/*
!/Client/src/libapp/*
!/Client/src/libapp/model/*
!/Client/src/libapp/view/*
!/Client/src/libapp/view/*/*
!/Client/src/libapp/view/*/*/*
!*.fxml
!*.java
!/Client/Client.iml

!/PostgreSQL
/PostgreSQL/* 
