*

!.gitignore

!/Server
/Server/*
!/Server/.idea
!/Server/.idea/*
!/Server/Server.iml
!/Server/src
/Server/src/*
!/Server/src/*.java
!/Server/src/*.jar

!/Client
/Client/*

!/PostgreSQL
/PostgreSQL/* 
!/PostgreSQL/consts.txt
!/PostgreSQL/readme.txt
!/PostgreSQL/pg_dump

!/Documentation
/Documentation/*
!/Documentation/Documentation.docx